class @com.lg.tv.webos2
#_[thingpedia_name="LG WebOS TV"]
#_[thingpedia_description="LG SmartTV with WebOS. Corresponds to LG TVs sold in 2015 and newer."]
#_[description="This is your LG SmartTV."]
#[subcategory="home"]
#[child_types=["org.thingpedia.iot.tv"]]
{
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.discovery.undefined();
}
