abstract class @org.thingpedia.iot.uv
#_[thingpedia_name="UV Sensor"]
#_[thingpedia_description="Interface for UV Sensor."]
#_[description="Interface for uv Sensor."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query uv(out value : Number)
  #_[canonical="uv sensor state"]
  #_[confirmation="the uv from $__device"]
  #_[result=["the uv level is ${value} uv"]];
}