class @io.home-assistant.climate extends @org.thingpedia.iot.thermostat, @org.thingpedia.iot.humidity, @org.thingpedia.iot.temperature
#_[thingpedia_name="Climate Device"]
#_[thingpedia_description="Interface for Home Assistant's Climate Device."]
#_[description="Interface for Home Assistant's Climate Device."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  import loader from @org.thingpedia.embedded();
}
