abstract class @io.home-assistant.sound
#_[thingpedia_name="Sound Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Sound Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="sound sensor state"]
  #_[confirmation="the state of your sound sensor"]
  #_[formatted=["Your sound sensor is ${state}"]];
}