class @com.tesla
#[child_types=["com.tesla.car"]] {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.basic_auth(extra_params=makeArgMap(username:String,password:Entity(tt:password)));
}

