abstract class @io.home-assistant.garage_door
#_[thingpedia_name="Garage_door Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Garage_door Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="garage_door sensor state"]
  #_[confirmation="the state of your garage_door sensor"]
  #_[formatted=["Your garage_door sensor is ${state}"]];
}