abstract class @org.thingpedia.iot.plug
#_[thingpedia_name="Plug Sensor"]
#_[thingpedia_description="Interface for Plug Sensor."]
#_[description="Interface for Plug Sensor."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(plugged,unplugged))
  #_[canonical="plug sensor state"]
  #_[confirmation="the state of $__device"]
  #_[result=["the plug is ${state}"]];
}