abstract class @io.home-assistant.binary-sensor.gas
#_[thingpedia_name="Gas Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Gas Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(detecting_gas,not_detecting_gas))
  #_[canonical="gas binary sensor state"]
  #_[confirmation="the state of your gas binary sensor"]
  #_[formatted=["Your gas sensor is ${state}"]];
}