body { font: 13px Helvetica, Arial; padding-bottom: 5%;}
h1 { font-size: 4em; text-align: center; }
#dashboard {
    position: relative;
    width: 80vw;
    margin: 0 auto;
}

#clear-dashboard {
    margin: .5em auto 1em auto;
    font-size: 1em;
    padding: 0 20px;
    display: block;
    cursor: pointer;
}

.status-msg {
    text-align: center;
    font-size: .85em;
    visibility: hidden;
    margin: 0.5em 0;
}

.autocomplete input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: inherit;
}

.autocomplete {
  position: relative;
  width: 70%;
  margin-left: 15%;
  font-size: 14px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.line {
    fill: none;
    stroke: green;
    stroke-width: 2px;
}

button {
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 5px;
}

/* D3 Styling */

.tick {
    font-size: 12px;
}

.gridlines line {
    stroke: rgba(156, 156, 156, 0.5);
    stroke-width: 1px;
}

.d3Chart {
    color: rgb(76, 76, 76);
}

.d3-title {
    font-size: 14px;
    font-weight: bold;
    fill: rgb(76, 76, 76);
}

/* Chat Dialogue Box Styles */

.vpa-chat-wrapper {
  width: 350px;
  height: 400px;
  box-sizing: border-box;
  position: fixed;
  right: 10px;
  bottom: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0,0,0,.2);
  display: grid;
  grid-template-rows: 95fr 5fr;
}

#vpaUserMessage {
  padding: 15px;
  background-color: rgb(56, 56, 56);
}
.text-box {
  font-size: 16px;
  display: flex;
  width: 100%;
}
input#vpaMessage {
  padding-left: 11px;
  padding-right: 9px;
  font-size: 16px;
  height: 27px;
  display: block;
  flex: 10;
  outline: none;
  margin: 0 10px 0 0;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 13px;
}

input.send-button {
  display: block;
  background-color: rgba(255,255,255,.6);
  flex: 1;
  border: 1px solid rgba(0,0,0,.2);
  height: 27px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 25px;
  padding: 0;
  border-radius: 13px;
}

div#vpaDialogue {
  overflow-x: none;
  overflow-y: auto;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}

.user, .bot {
  font-size: 16px;
  padding: 5px 8px;
  margin: 1px;
  border-radius: 12px;
}
.bot {
  background-color: rgb(201, 201, 201);
  border-bottom-left-radius: 0;
  float: left;
  margin-right: 50px;
}
.user {
  color: white;
  background-color: #226ad5;
  border-bottom-right-radius: 0;
  float: right;
  margin-left: 50px;
}

/* Other */

.clearfix {
    overflow: auto;
}
