*~
*.tmp
*.bak
.idea/*
config.mk

# local working stuff
/tmp
/*.tsv
typecheck-cache.txt
.ipynb_checkpoints
*.ipynb
.DS_Store
/dataset
/models
*.tar.xz

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# standard node stuff
node_modules
.nyc_output/
coverage/
.npmignore

# make outputs
build
datadir

# intermediate files of dataset generation
synthetic*
augmented*
*user.tsv
*agent.tsv
calibration-ood.tsv
calibration-ood-source.tsv
calibration-ood-processed.tsv
eval/*/schema*.tt
eval/*/dataset.tt
eval/*/database-map.tsv
eval/builtin/*/annotated.txt
eval/main/*/annotated.txt
eval/universe/*/annotated.txt
eval/staging/*/annotated.txt
eval/builtin/paraphrase.tsv
eval/main/paraphrase.tsv
eval/universe/paraphrase.tsv
eval/staging/paraphrase.tsv

# evaluation results
eval/**/*.results
eval/**/*.debug

# files downloaded from s3 and thingpedia
parameter-datasets*
entities.json
eval/*/models
eval/*/datasets
.embeddings/

# testing files
*.cred.json
test/device-classes/*.tt
workdir/
export/
dropped-log.tsv

# custom files
eval/custom/train/*
eval/custom/dev/*
