*~
*.tmp
*.bak
.idea/*
config.mk

# local working stuff
/tmp
/*.tsv
typecheck-cache.txt
.ipynb_checkpoints
*.ipynb

# standard node stuff
node_modules
.nyc_output/
coverage/

# make outputs
build
datadir

# intermediate files of dataset generation
synthetic*
augmented*
*user.tsv
*agent.tsv
eval/*/schema*.tt
eval/*/dataset.tt
eval/*/database-map.tsv

# evaluation results
eval/**/*.results
eval/**/*.debug

# files downloaded from s3 and thingpedia
parameter-datasets*
entities.json
eval/*/models
eval/*/datasets
.embeddings/

# testing files
*.cred.json
test/device-classes/*.tt
workdir/
export/
dropped-log.tsv
