*~
.idea/*

# standard node stuff
node_modules
.nyc_output/
coverage/

# zip files
build/

# intermediate files of dataset generation
synthetic*
augmented*
*user.tsv
*agent.tsv

# intermediate files of dataset generation
# (stricter pattern to match only in a direct experiment subfolder)
*/entities.json
*/schema.tt
*/dataset.tt

# testing files
*.cred.json
test/device-classes/*.tt


