abstract class @io.home-assistant.motion
#_[thingpedia_name="Motion Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Motion Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="motion sensor state"]
  #_[confirmation="the state of your motion sensor"]
  #_[formatted=["Your motion sensor is ${state}"]];
}