abstract class @door-binary-sensor
#_[thingpedia_name="Door Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Door Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(open,closed))
  #_[canonical="door binary sensor state"]
  #_[confirmation="the state of your door binary sensor"]
  #_[formatted=["Your door sensor is ${state}"]];
}