abstract class @org.thingpedia.iot.occupancy
#_[thingpedia_name="Occupancy Sensor"]
#_[thingpedia_description="Interface for Occupancy Sensor."]
#_[description="Interface for Occupancy Sensor."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(occupied,unoccupied))
  #_[canonical="occupancy sensor state"]
  #_[confirmation="the state of $__device"]
  #_[formatted=["The space is ${state}."]];
}