class @com.wolframalpha {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.none();

  query plot(in req query: String #_[prompt="What function?"],
             out picture_url: Entity(tt:picture))
  #_[canonical="get plot from wolframalpha"]
  #_[confirmation="get a plot of ${query} from wolframalpha"]
  #_[formatted=[{type="picture",url="${picture_url}"}]]
  #[doc="fetch a plot of a function from WolframAlpha, with one or two variables"];
}

