class @com.uinames {
  import loader from @org.thingpedia.generic_rest.v1();
  import config from @org.thingpedia.config.none();

  query get(out name: String,
    	    out surname: String,
            out gender: Enum(male, female))
  #_[canonical="random name"]
  #_[confirmation="random name"]
  #_[formatted=[{type="text",text="${name} ${surname}"}]]
  #[url="https://uinames.com/api/?region=united%20states"];  
}