abstract class @io.home-assistant.presence
#_[thingpedia_name="Presence Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Presence Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="presence sensor state"]
  #_[confirmation="the state of your presence sensor"]
  #_[formatted=["Your presence sensor is ${state}"]];
}