abstract class @io.home-assistant.moisture-binary-sensor
#_[thingpedia_name="Moisture Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Moisture Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(wet,dry))
  #_[canonical="moisture binary sensor state"]
  #_[confirmation="the state of your moisture binary sensor"]
  #_[formatted=["Your moisture sensor is ${state}"]];
}