abstract class @io.home-assistant.door
#_[thingpedia_name="Door Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Door Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="door sensor state"]
  #_[confirmation="the state of your door sensor"]
  #_[formatted=["Your door sensor is ${state}"]];
}