class @com.numbersapi {
    import loader from @org.thingpedia.v2();
    
    query fact(in opt number : Number,
               in opt type : Enum(trivia,math,year),
               out text : String #[string_values="tt:long_free_text"])
    #_[confirmation="a fact about the number ${number}"]
    #_[canonical="number facts"]
    #_[formatted=["${text}"]];
}