abstract class @heat-binary-sensor
#_[thingpedia_name="Heat Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Heat Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(hot,normal))
  #_[canonical="heat binary sensor state"]
  #_[confirmation="the state of your heat binary sensor"]
  #_[formatted=["Your heat sensor is ${state}"]];
}