class @com.linkedin {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.oauth2(client_id=$undefined, client_secret=$undefined);

  action share(in req status: String #_[prompt="What do you want to post?"] #[string_values="tt:long_free_text"])
  #_[canonical="post on linkedin"]
  #_[confirmation="share $status on your LinkedIn"]
  #_[confirmation_remote="share $status on $__person's LinkedIn"]
  #[doc="share a comment and a link "];
}
