abstract class @org.thingpedia.iot.sound
#_[thingpedia_name="Sound Sensor"]
#_[thingpedia_description="Interface for Sound Sensor."]
#_[description="Interface for Sound Sensor."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(detecting,not_detecting))
  #_[canonical="sound sensor state"]
  #_[confirmation="the state of $__device"]
  #_[formatted=["The sound sensor is ${state:enum} sound."]];
}