abstract class @io.home-assistant.binary-sensor.motion
#_[thingpedia_name="Motion Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Motion Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(detecting_motion,not_detecting_motion))
  #_[canonical="motion binary sensor state"]
  #_[confirmation="the state of your motion binary sensor"]
  #_[formatted=["Your motion sensor is ${state}"]];
}