abstract class @io.home-assistant.temperature
#_[thingpedia_name="Temperature Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Temperature Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="temperature sensor state"]
  #_[confirmation="the state of your temperature sensor"]
  #_[formatted=["Your temperature sensor is ${state}"]];
}