class @com.lg.tv.webos2 extends @org.thingpedia.iot.tv
#_[thingpedia_name="LG WebOS TV"]
#_[thingpedia_description="LG SmartTV with WebOS. Corresponds to LG TVs sold in 2015 and newer."]
#_[description="This is your LG SmartTV."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.discovery.upnp(search_target=["urn:lge-com-service-webos-second-screen-1"]);
}
