abstract class @org.thingpedia.iot.media-player extends @org.thingpedia.media-player, @org.thingpedia.iot.switch, @org.thingpedia.volume-control
#_[thingpedia_name="Home Assistant Media Player"]
#_[thingpedia_description="Interface for Home Assistant Media Player."]
#_[description="Interface for Home Assistant Media Player."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]


{
}
