abstract class @io.home-assistant.safety
#_[thingpedia_name="Safety Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Safety Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="safety sensor state"]
  #_[confirmation="the state of your safety sensor"]
  #_[formatted=["Your safety sensor is ${state}"]];
}