abstract class @io.home-assistant.moisture
#_[thingpedia_name="Moisture Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Moisture Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="moisture sensor state"]
  #_[confirmation="the state of your moisture sensor"]
  #_[formatted=["Your moisture sensor is ${state}"]];
}