abstract class @io.home-assistant.binary-sensor.opening
#_[thingpedia_name="Opening Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Opening Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(open,closed))
  #_[canonical="opening binary sensor state"]
  #_[confirmation="the state of your opening binary sensor"]
  #_[formatted=["Your opening sensor is ${state}"]];
}