class @org.thingpedia.bluetooth.speaker.a2dp extends @org.thingpedia.iot.speaker
#_[thingpedia_name="Bluetooth Speaker"]
#_[thingpedia_description="A generic Bluetooth speaker supporting A2DP (high quality audio)."]
#_[description="This is your bluetooth speaker."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  import loader from @org.thingpedia.embedded();
  import config from @org.thingpedia.config.builtin();
}
