class @org.thingpedia.bluetooth.speaker.a2dp
#_[thingpedia_name="Bluetooth Speaker"]
#_[thingpedia_description="A generic Bluetooth speaker supporting A2DP (high quality audio)."]
#_[description="This is your bluetooth speaker."]
#[subcategory="home"]
#[child_types=["org.thingpedia.iot.speaker"]]
{
  import loader from @org.thingpedia.v1();
  import config from @org.thingpedia.config.discovery.undefined();
}
