class @com.whatdoestrumpthink {
  import loader from @org.thingpedia.generic_rest.v1();
  import config from @org.thingpedia.config.none();

  query get(out text: String #[json_key="message"])
  #_[canonical="Trump quotes"]
  #_[confirmation="a random Trump quote"]
  #_[formatted=[{type="text",text="${text}"}]]
  #[doc="get a random Trump quote"]
  #[url="https://api.whatdoestrumpthink.com/api/v1/quotes/random"];
}
