abstract class @io.home-assistant.cover-read-only.door
#_[thingpedia_name="Door Cover"]
#_[thingpedia_description="Interface for Home Assistant's Door Cover."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(open,closed))
  #_[canonical="door state"]
  #_[confirmation="the state of your door"]
  #_[formatted=["Your door is ${state}"]];
}