abstract class @io.home-assistant.smoke
#_[thingpedia_name="Smoke Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Smoke Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="smoke sensor state"]
  #_[confirmation="the state of your smoke sensor"]
  #_[formatted=["Your smoke sensor is ${state}"]];
}