abstract class @io.home-assistant.sensor.signal_strength
#_[thingpedia_name="Signal_strength Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Signal_strength Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="signal_strength sensor state"]
  #_[confirmation="the state of your signal_strength sensor"]
  #_[formatted=["Your signal_strength sensor is ${state}"]];
}