abstract class @io.home-assistant.binary-sensor.occupancy
#_[thingpedia_name="Occupancy Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Occupancy Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(occupied,not_occupied))
  #_[canonical="occupancy binary sensor state"]
  #_[confirmation="the state of your occupancy binary sensor"]
  #_[formatted=["Your occupancy sensor is ${state}"]];
}