abstract class @org.thingpedia.iot.garage-door
#_[thingpedia_name="Garage Door Sensor"]
#_[thingpedia_description="Interface for Garage Door Sensor."]
#_[description="Interface for Garage Door Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(open,closed))
  #_[canonical="garage door state"]
  #_[confirmation="the state of $__device"]
  #_[formatted=["The garage door is $state."]];
}