abstract class @io.home-assistant.power-binary-sensor
#_[thingpedia_name="Power Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Power Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(detecting_power,not_detecting_power))
  #_[canonical="power binary sensor state"]
  #_[confirmation="the state of your power binary sensor"]
  #_[formatted=["Your power sensor is ${state}"]];
}