class @com.giphy {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.none(api_key=$undefined);

  query get(in opt tag: Entity(tt:hashtag) #_[prompt="With what tag?"] #[string_values="com.giphy:tag"],
            out picture_url: Entity(tt:picture))
  #_[canonical="random giphy gif"]
  #_[confirmation="a gif from GIPHY"]
  #_[formatted=[{type="picture",url="${picture_url}"}]]
  #[doc="get a gif from Giphy, optionally with the given tag"];
}
