abstract class @org.thingpedia.iot.motion
#_[thingpedia_name="Motion Sensor"]
#_[thingpedia_description="Interface for Motion Sensor."]
#_[description="Interface for Motion Sensor."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(detecting,not_detecting))
  #_[canonical="motion sensor state"]
  #_[confirmation="the state of $__device"]
  #_[formatted=["The motion sensor is ${state:enum} movement."]];
}