abstract class @presence-binary-sensor
#_[thingpedia_name="Presence Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Presence Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(home,away))
  #_[canonical="presence binary sensor state"]
  #_[confirmation="the state of your presence binary sensor"]
  #_[formatted=["Your presence sensor is ${state}"]];
}