abstract class @io.home-assistant.moving
#_[thingpedia_name="Moving Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Moving Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="moving sensor state"]
  #_[confirmation="the state of your moving sensor"]
  #_[formatted=["Your moving sensor is ${state}"]];
}