abstract class @io.home-assistant.binary-sensor.sound
#_[thingpedia_name="Sound Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Sound Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(detecting_sound,not_detecting_sound))
  #_[canonical="sound binary sensor state"]
  #_[confirmation="the state of your sound binary sensor"]
  #_[formatted=["Your sound sensor is ${state}"]];
}