abstract class @io.home-assistant.opening
#_[thingpedia_name="Opening Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Opening Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="opening sensor state"]
  #_[confirmation="the state of your opening sensor"]
  #_[formatted=["Your opening sensor is ${state}"]];
}