class @org.agent.restaurant extends @org.thingpedia.dialogue-handler
#_[name="org.agent.restaurant"]
#_[description="TODO add description"]
#_[thingpedia_name="org.agent.restaurant"]
#_[thingpedia_description="TODO add description"]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="service"] 
{
    import loader from @org.thingpedia.v2();
    import config from @org.thingpedia.config.none();
}
