abstract class @io.home-assistant.heat
#_[thingpedia_name="Heat Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Heat Binary Sensor."]
#_[description="Interface for Home Assistant's Heat Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(hot,cold,normal))
  #_[canonical="heat sensor state"]
  #_[confirmation="the state of $__device"]
  #_[formatted=["It is $state."]];
}