abstract class @io.home-assistant.plug
#_[thingpedia_name="Plug Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Plug Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="plug sensor state"]
  #_[confirmation="the state of your plug sensor"]
  #_[formatted=["Your plug sensor is ${state}"]];
}