class @com.nest.thermostat extends @thermostat, @org.thingpedia.iot.temperature, @org.thingpedia.iot.humidity
#_[thingpedia_name="Nest Thermostat"]
#_[thingpedia_description="The Nest Thermostat. This device is available by configuring a Nest Account."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  import loader from @org.thingpedia.embedded();
  import config from @org.thingpedia.config.builtin();
}
