class @com.nest.thermostat extends @thermostat, @org.thingpedia.iot.temperature, @org.thingpedia.iot.humidity {
  import loader from @org.thingpedia.embedded();
  import config from @org.thingpedia.config.builtin();
}
