class @com.nest
#[child_types=["com.nest.security_camera", "com.nest.thermostat", "com.nest.smoke_alarm"]] {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.oauth2(client_id=$undefined, client_secret=$undefined);
}
