class @org.agent.intercept_yelp_agent extends @org.thingpedia.dialogue-handler
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="service"] 
{
    import loader from @org.thingpedia.v2();
    import config from @org.thingpedia.config.none();
}
