abstract class @io.home-assistant.sensor.power
#_[thingpedia_name="Power Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Power Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="power sensor state"]
  #_[confirmation="the state of your power sensor"]
  #_[formatted=["Your power sensor is ${state}"]];
}