abstract class @io.home-assistant.light-binary-sensor
#_[thingpedia_name="Light Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Light Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(detecting_light,not_detecting_light))
  #_[canonical="light binary sensor state"]
  #_[confirmation="the state of your light binary sensor"]
  #_[formatted=["Your light sensor is ${state}"]];
}