abstract class @org.thingpedia.iot.door
#_[thingpedia_name="Door Sensor"]
#_[thingpedia_description="Interface for Door Sensor."]
#_[description="Interface for Door Sensor."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(open,closed))
  #_[canonical="door state"]
  #_[confirmation="the state of $__device"]
  #[confirm=false]
  #_[result=["the {${__device}|} entrance is ${state}"]];
}
