abstract class @binary-sensor
#_[thingpedia_name="Binary Sensor"]
#_[thingpedia_description="The general interface supported by all binary sensors."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(on,off))
  #_[canonical="binary sensor state"]
  #_[confirmation="the state of your binary sensor"]
  #_[formatted=["Your sensor is ${power}"]];
}

