abstract class @org.thingpedia.iot.sound
#_[thingpedia_name="Sound Sensor"]
#_[thingpedia_description="Interface for Sound Sensor."]
#_[description="Interface for Sound Sensor."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query sound(out state : Enum(detecting,not_detecting))
  #_[canonical="sound detection state"]
  #_[confirmation="whether $__device detected sound"]
  #_[formatted=["It is ${state:enum} sound."]];
}