class @com.icanhazdadjoke {
  import loader from @org.thingpedia.generic_rest.v1();
  import config from @org.thingpedia.config.none();

  query get(out text: String #[json_key="joke"],
            out joke_id: Entity(com.icanhazdadjoke:id) #[json_key="id"])
  #_[canonical="dad joke"]
  #_[confirmation="a dad joke"]
  #_[formatted=[{type="text",text="${text}"}]]
  #[doc="get a joke"]
  #[url="https://icanhazdadjoke.com/"];
}
