abstract class @org.thingpedia.dialogue-handler
#_[name="Dialogue Handler Interface"]
#_[description="This is a marker of a skill that will passively listen to commands and kick in when involved."]
#[license="CC0-1.0"]
#[license_gplcompatible=true]
#[subcategory=enum service]
{}
