abstract class @org.thingpedia.iot.camera
#_[thingpedia_name="Camera"]
#_[thingpedia_description="Interface for Camera."]
#[license="BSD-3-Clause"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query current_event(out start_time: Date #_[canonical="start time"], out picture_url: Entity(tt:picture) #_[canonical="picture url"])
  #_[canonical="current events in front of the camera"]
  #_[confirmation="the current event detected on your camera"];
}
