abstract class @io.home-assistant.safety-binary-sensor
#_[thingpedia_name="Safety Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Safety Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(unsafe,safe))
  #_[canonical="safety binary sensor state"]
  #_[confirmation="the state of your safety binary sensor"]
  #_[formatted=["Your safety sensor is ${state}"]];
}