abstract class @io.home-assistant.light
#_[thingpedia_name="Light Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Light Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Number)
  #_[canonical="light sensor state"]
  #_[confirmation="the state of your light sensor"]
  #_[formatted=["Your light sensor is ${state}"]];
}