abstract class @io.home-assistant.plug-binary-sensor
#_[thingpedia_name="Plug Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Plug Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(plugged,unplugged))
  #_[canonical="plug binary sensor state"]
  #_[confirmation="the state of your plug binary sensor"]
  #_[formatted=["Your plug sensor is ${state}"]];
}