abstract class @io.home-assistant.smoke-binary-sensor
#_[thingpedia_name="Smoke Binary Sensor"]
#_[thingpedia_description="Interface for Home Assistant's Smoke Binary Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query state(out state : Enum(detecting_smoke,not_detecting_smoke))
  #_[canonical="smoke binary sensor state"]
  #_[confirmation="the state of your smoke binary sensor"]
  #_[formatted=["Your smoke sensor is ${state}"]];
}