abstract class @org.thingpedia.iot.temperature
#_[thingpedia_name="Temperature Sensor"]
#_[thingpedia_description="Interface for Temperature Sensor."]
#_[description="Interface for Temperature Sensor."]
#[license="CC-0"]
#[license_gplcompatible=true]
#[subcategory="home"]
{
  monitorable query temperature(out value : Measure(C))
  #_[canonical="temperature sensor state"]
  #_[confirmation="the temperature from $__device"]
  #_[formatted=["The temperature is ${value:F}°F."]];
}